.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  width: 500px;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
}

.card h2 {
  color: blue;
}

.card p {
  color: purple;
}
